

.list{
    display: flex;
    flex-wrap: wrap;
    &.fullWidth{
        .grid{
            width:100%;
        }
    }
    .grid{
        width:20%;
        padding:10px;
        &.inline-item{
            display: flex;
            flex-wrap: wrap;
        }
        @include mobile{
            width: 100%;
        }
    }
}