$coloer-blue:#4268ea;
$color-white:#ffffff;

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
/*Mobile, tablet, desktop media queries Use by just saying @include and adding its styles inside*/
$tablet-width: 768px;
$desktop-width: 992px;
$lgdesktop-width: 1200px;

@mixin not-mobile {
  @media screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: #{$tablet-width}) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin tablet-mobile {
  @media screen and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop-tablet {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$lgdesktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-width}) and (max-width: #{$lgdesktop-width - 1px}) {
    @content;
  }
}

@mixin desktop-lgdesktop {
  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin lgdesktop {
  @media screen and (min-width: #{$lgdesktop-width}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (min-width: #{$tablet-width}) and (max-width: 1024px) and (orientation: portrait) {
    @content;
  }
}

@mixin tablet-landscape {
  @media screen and (min-width: #{$tablet-width}) and (max-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

/* To use media queries we just have to say @include tablet{font-size:14px} */

// Usage as a mixin
.clearFix {
  @include clearfix;
}

*{
  box-sizing: border-box;
  
}
body, html{
  padding:0;
  margin:0;
}

#footer,
#header{
  background-color: $coloer-blue;
  color: $color-white;
  padding:10px 0;
}
.headerLeft{
  float: left;
  padding-left:10px;
}
.headerRight{
  float: right;
  padding-right:10px;
}
.text-center{
  text-align: center;
}
.container{
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  margin-bottom: 1rem;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
.headerIcon{
  position: relative;
  padding:3px;
  display: inline-block;
  color:$color-white;
  text-decoration: none;
}
.hidden{
  display: none !important;
}
#count{
  position: relative;
    top: -4px;
    background-color: red;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    text-decoration: none;
}
.homeIcon{
  display: none;
}
.cart {
  .cartCount{
    display:none;
  }
  .homeIcon{
    display: inline;
  }
}
.productImage{
  width:20%;
}
.responsive-img{
  max-width: 100%;
  height: auto;
}
.products{
  flex-basis: 80%;
  max-width: 80%;
  @include mobile{
    flex-basis: 100%;
    max-width: 100%;
  }
}
@import './sidebar';
@import './content';
@import './productList';
@import './cart';